<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site wa created by Pavel Pavlenko.</p>
        <img class="portrait" src="./img/IMG_20190715_233036_804.jpg" alt="somethig went wrong">
        <p>It uses data from mapbox.com and darksky.net</p>
    </div>

    {{>footer}}
</body>

</html>